footer {
    background-image: url('../img/footer-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

div.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.links {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    color: white;
    flex-basis: 60%;

    a {
        color: white;
    }

    h4 {
        font-weight: bold;
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    ul {
        margin-bottom: 1rem;
    }


    div {
        flex-basis: calc(100% / 3);
    }
}